@model IEnumerable<MyCool.Payroll.Web.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";

    List<SelectListItem> yearList = new List<SelectListItem>();
    yearList.Add(new SelectListItem { Text = "2017", Value = "2017" });
    yearList.Add(new SelectListItem { Text = "2018", Value = "2018" });
    yearList.Add(new SelectListItem { Text = "2019", Value = "2019" });
}


<h2>Payroll</h2>

<div class="form-group">
    <label for="exampleFormControlSelect1">Select Month and Year</label>
    <span class="input-group-btn">
        <select class="form-control col-sm-5" id="cmbMonth" style="width:15%">
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Aug</option>
            <option value="9"selected>Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>

        <select class="form-control col-md-10" id="cmbYear" style="width:15%">
            <option value="2017">2017</option>
            <option value="2018" selected>2018</option>
            <option value="2019">2019</option>
        </select>
    </span>
</div>

@if (Model.Count() == 0)
{
    @*@Html.Partial("_NoRecords")*@
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.AnnualSalary)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.SuperRate) %
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentStart)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                 <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.AnnualSalary)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.SuperRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStart)
                    </td>
                    <td>
                        @* This is a bit of fudge. Ideally we'd pass back the Employee ID (primary key) 
                            to the webapi controller and return the relevant details....
                        *@
                            <button class="btn btn-primary" 
                                    type="button" onclick="@(Html.Raw(String.Format("LoadPayslip('{0}', {1}, {2}, '{3}')",
                                                                    String.Format("{0} {1}", item.FirstName, item.LastName),
                                                                    item.AnnualSalary,
                                                                    item.SuperRate,
                                                                    item.PaymentStart.ToShortDateString()
                                                                    )))">Print Payslip</button>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    <script type="text/javascript">
        function GetYear() {
            var myyear = document.getElementById('cmbYear').value;
            alert(myyear);
            return myyear;
        };

        function LoadPayslip(fullname, annualSalary, superRate, startDate) {
            var myYear = document.getElementById('cmbYear').value;
            var myMonth = document.getElementById('cmbMonth').value;

            var payDate = new Date(myYear, myMonth - 1, 1);

            var parts = startDate.split('/');
            var myDate = new Date(parts[2], parts[1] - 1, parts[0]);

            if (payDate < myDate) {
                alert('The Employee had not started');
                //return;
            }
            else {
                var url = 'Print?fullName=' + fullname + '&annualSalary=' + annualSalary + '&superRate=' + superRate + '&payDate=' + payDate.toLocaleDateString('en-NZ');
                window.open(url);
            }
        }
    </script>
